
<p><h2><div class="text-center"><%= @user.name %></div></h2></p>

<p><h5> Blog: </h5><%= link_to @user.user_blog.blog_title, @user.user_blog %></p>
<p><h5> About Me: </h5><%= @user.user_blog.about_me %></p>

<p><h5> Posts: </h5></p>
<div id="blog-user-profile" class="content">
<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Posted</th>
    </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @user.user_blog.posts.take(3).each do |post| %>
    <tr>
      <td><%= count %></td>
      <td><span id="blog-entry-title"><%= link_to post.title, post %></td>
      <td><span id="blog-entry-timestamp"><%= post.created_at.to_formatted_s(:long_ordinal) %></td>
    </tr>
    <% count += 1 %>
  <% end %>
    <tr>
    <td colspan="3"><div class="text-center"> <%= link_to "View all posts", @user.user_blog %> </div></td>
    </tr>
  </tbody>
</table>
</div>

