
<p><h4><%= @user.name %></h4></p>
<br>
<% if @user.friendships.count > 0 %>
    <h5> Following </h5>
    <ul>
      <% for friendship in @user.friendships %>
       <li>
        <%= link_to friendship.friend.name, user_path(friendship.friend.id) %>
        <% if current_user.id == @user.id %>
            <%= link_to "Unfollow", friendship, :method => :delete, :class => 'btn btn-mini btn-danger' %>
        <% end %>
       </li>
      <% end %>
    </ul>
<% end %>

<div id="blog-user-profile">
<% @user.posts.each do |post| %>
    <div id="blog-entry"> 
        <span id="blog-entry-meta">
            <span id="blog-entry-title"><h5><%= link_to post.title, post %></h5></span>
            <span id="blog-entry-timestamp">  <i class="icon-calendar">  </i><%= post.created_at.to_formatted_s(:long_ordinal) %></span>
        </span>
        <div id="blog-entry-content"><%= post.entry %></div>      
    </div>
<% end %>
</div>

