<ul class="nav nav-list">
  <li class="nav-header">Blog</li>
  <li><%= link_to "Blog Stream", root_path %></li>
  <% if user_signed_in? then id = current_user.id else id = nil end %>
  <li><%= link_to "My Blog", posts_path(:id => id) %></li>
  <li><%= link_to "Create Post", new_post_path %></li>
  <li class="nav-header">Social</li>
  <li><%= link_to "Following", friendships_path %></li>
  <li><%= link_to "Followers", root_path %></li>
  <li><%= link_to "Find People", users_path %></li>
  <li class="nav-header">Acount</li>
  <li><%= link_to "Settings", edit_user_registration_path %></li>
</ul>
